<title>Admin</title>
{{!-- <div class="header">
    <div class="header_logo">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row">
                    <a href="/">
                        <img class="logo_img" src="/public/images/logo-khtn-full.png" alt="logo">
                    </a>
                </div>
            </div>

            <div class="col-3 d-flex align-items-end">
                <div class="account-btn d-flex flex-column m-t-20 d-flex">
                    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i style="margin-right:7px " class="fa fa-user"></i> Nguyen Huu Tuan
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/users/profile/username">Quản lý tài khoản</a>
                        <a class="log-out-btn dropdown-item" href="/users/logout">Đăng xuất</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>  --}}
<hr>
<div>
    <h2 class="header_font" style="padding-left: 15px;">Quản lý sách</h2>
    <div class="d-flex col">
        <div class="adminsearch">
            <input class="adminsearchtextbox" type="text" name="search" placeholder="Tên sách"></input>
            <button id="submitFormsBtn" class="btn btn-link search_btn" type="button">
                <img src="images/search_button.png" alt="search_button">
            </button>
        </div>
        <button type="button" class="btn-primary ml-3" style="border-radius: 5px; height: 40px" onclick="resetFilter()">Reset Filter</button>
        <i class="fa fa-upload fa-2x ml-3"></i>
        <i class="fa fa-plus fa-2x add ml-3"></i>
    </div>
    <table>
        <tr>
            <th width="200">Tiêu đề</th>
            <th width="200">Tác giả</th>
            <th>Mô tả</th>
            <th width="120">Số lượng</th>
            <th width="120">Ngôn ngữ</th>
            <th width="110">Chỉnh sửa</th>
        </tr>
        {{#each adminBooks}}
        <tr>
            <td>{{title}}</td>
            <td>{{author}}</td>
            <td>{{content}}</td>
            <td>{{quantity}}</td>
            <td>{{#ifCond language "===" "vi"}}Tiếng Việt{{else}}Tiếng Anh{{/ifCond}}</td>
            <td><i class="fa fa-trash trashicon"></i><i class="fa fa-edit"></i></td>
        </tr>
        {{/each}}
    </table>
</div>

    <nav class="d-flex justify-content-center" aria-label="..." id="pagination">
        {{{ createPagination pagination leftText="Prev" rightText="Next" paginationClass="pagination"}}}
    </nav>
</div>

<script>
    $(document).ready(function () {
         $("#submitFormsBtn").on("click", function () {
            var searchVal = $("input[name='search']").val();

            urlParams.set('search', searchVal);
            let url = '/admin-home?' + urlParams.toString();
            location.href = url;

        })

        $("#pagination li").addClass('page-item');
        $("#pagination li a").addClass('page-link');
        let savePage = urlParams.get('page');
        $("#pagination li a").each((index,item)=>{
            let page = $(item).attr('href').split('=')[1];
            urlParams.set('page', page);
            let href = '/admin-home?' + urlParams.toString();
            $(item).attr('href', href);
        })
        urlParams.set('page', savePage);
    });

    let urlParams = new URLSearchParams(location.search);
    let params = {
        page : 1,
        search : '',
        limit: 6
    }   

    for (let key in params) {
        if (!urlParams.has(key)) {
            urlParams.append(key, params[key]);
        }
    }

     function resetFilter() {
        location.href = '/admin-home';
    }
</script>