<title>Library Management</title>
<div class="banner">
    <img src="images/banner.png" alt="banner">
</div>

<div class="content_container">
    <div class="row">
        <div class="col">
            <h3 class="header_font header_book">Sách mới</h3>
            <div class="d-flex flex-column">
                {{#each newBooks}}
                <div class="d-flex flex-row book_item">
                    <img class="img_book" src="{{imgPath}}">
                    <div class="d-flex flex-column align-content-between">    
                        <div class="d-flex flex-column" style="height: 160px">
                            <h5 class="header_font">{{title}}</h5>
                            <p class="author_name">{{author}}</p>
                            <p class="author_name">Version {{version}}</p>
                            <p>{{#ifCond language "===" "vi"}}Tiếng Việt{{else}}Tiếng Anh{{/ifCond}}</p>
                        </div>
                        
                        <div class="d-flex flex-column">
                            <span>
                                <button type="button" class="btn btn-primary">Mượn sách</button>
                            </span>
                            <a class="read_more" href="/search/{{id}}">Xem thêm</a>
                        </div>  
                    </div>
                </div>
                {{/each}}
            </div>  
        </div>

        <div class="col">
            <h3 class="header_font header_book">Sách nổi bật</h3>
            <div class="d-flex flex-column">
                {{#each hotBooks}}
                <div class="d-flex flex-row book_item">
                    <img class="img_book" src="{{imgPath}}">
                    <div class="d-flex flex-column align-content-between">    
                        <div class="d-flex flex-column" style="height: 160px">
                            <h5 class="header_font">{{title}}</h5>
                            <p class="author_name">{{author}}</p>
                            <p>{{#ifCond language "===" "vi"}}Tiếng Việt{{else}}Tiếng Anh{{/ifCond}}</p>
                        </div>
                        
                        <div class="d-flex flex-column">
                            <span>
                                <button type="button" class="btn btn-primary">Mượn sách</button>
                            </span>
                            <a class="read_more" href="/search/{{id}}">Xem thêm</a>
                        </div>  
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{>news_collapsed}}
        
    </div>
</div>
