<title>Info</title>
<div class="body">
    <div class="row">
        <div class="col">
            {{#with book}}
            <div class="row">
                <img class="col-6 bookinfo" src="{{imgPath}}">
                <div class="col-6">
                    <h4 class="header_font">{{title}}</h4>
                    <p><b>Tác giả: </b>{{author}}</p>
                    <p><b>Ngôn ngữ: </b>{{#ifCond language "===" "vi"}}Tiếng Việt{{else}}Tiếng Anh{{/ifCond}}</p>
                    <p><b>Thể loại: </b>{{Type.typeName}}</p>
                    <p><b>Tình trạng: </b>{{#ifCond availability "===" "available"}}Có thể mượn{{else}}Không thể mượn{{/ifCond}}</p>
                    <p><b>Đánh giá: </b>{{rating}}/5</p>
                    <button type="button" class="btn btn-primary borrow">Mượn sách</button>
                </div>
            </div>
            <div class="Details">
                <h4 class="header_font">Nội dung</h4>
                <p>{{content}}</p>
            </div>
            {{/with}}
            <hr>
            <h4 class="cmtheader header_font">Đóng góp và bình luận</h4>
            <textarea class="cmtarea" placeholder="Viết đóng góp của bạn"></textarea><br>
            <button type="button" class="btn btn-primary header_btn send-comment">Gửi đóng góp</button>
            <div class="row comment">
                <div class="col-md-1">
                    <img class="avatar" src="/images/avatar.png"></img>
                </div>
                <div class="col-md-11 conttent">
                    <h5 class="header_font">Name</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quasi vel tempora ex tempore
                        nihil commodi
                        optio necessitatibus quo molestias consequatur, possimus sint consectetur ea veritatis
                        provident eos
                        porro adipisci.</p>
                    <a class="action Thích" id="thich" href>Thích</a>
                    <a id="phanhoi" href="#response" data-toggle="collapse">Phản hồi</a>
                    <div class="collapse" id="response">
                        <textarea class="cmtarea" placeholder="Viết đóng góp của bạn"></textarea><br>
                        <button type="button" class="btn btn-primary header_btn send-comment">Gửi đóng góp</button>
                    </div>
                </div>
            </div>

            <div class="row comment">
                <div class="col-md-1">
                    <img class="avatar" src="/images/avatar.png"></img>
                </div>
                <div class="col-md-11 conttent">
                    <h5 class="header_font">Name</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quasi vel tempora ex tempore
                        nihil commodi
                        optio necessitatibus quo molestias consequatur, possimus sint consectetur ea veritatis
                        provident eos
                        porro adipisci.</p>
                    <a class="action Thích" id="thich" href>Thích</a>
                    <a id="phanhoi" href="#response1" data-toggle="collapse">Phản hồi</a>
                    <div class="collapse" id="response1">
                        <textarea class="cmtarea" placeholder="Viết đóng góp của bạn"></textarea><br>
                        <button type="button" class="btn btn-primary header_btn send-comment">Gửi đóng góp</button>
                    </div>
                </div>
            </div>

            <div class="row comment">
                <div class="col-md-1">
                    <img class="avatar" src="/images/avatar.png"></img>
                </div>
                <div class="col-md-11 conttent">
                    <h5 class="header_font">Name</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui quasi vel tempora ex tempore
                        nihil commodi
                        optio necessitatibus quo molestias consequatur, possimus sint consectetur ea veritatis
                        provident eos
                        porro adipisci.</p>
                    <a class="action Thích" id="thich" href>Thích</a>
                    <a id="phanhoi" href="#response2" data-toggle="collapse">Phản hồi</a>
                    <div class="collapse" id="response2">
                        <textarea class="cmtarea" placeholder="Viết đóng góp của bạn"></textarea><br>
                        <button type="button" class="btn btn-primary header_btn send-comment">Gửi đóng góp</button>
                    </div>
                </div>
                <div class="d-flex justify-content-center comment">
                    <button type="button" class="btn btn-primary header_btn loadcomment">Tải thêm 10 đóng
                        góp</button>
                </div>
            </div>
        </div>
        {{>news_collapsed}}
    </div>
</div>